#feedback {
	h3 {
		text-align: center;
	}

	textarea {
		background: $tertiaryColorDark;
		padding: 7px 12px;
		width: calc(100% - 24px);
	}

	.btn-primary {
		background: $primaryButtonColor;
		border: 1px solid $primaryButtonColor;
		color: $tertiaryColorLight;

		&:hover {
			background: $primaryButtonHoverColor;
			border: 1px solid $primaryButtonHoverColor;
		}
	}

	.alert {
		font-size: 14px;
		font-weight: 300;
		line-height: 44px;
		margin-bottom: 10px;
		padding: 0;
	}
}