<style>
.modal-backdrop {width: 100%;height: 100%;top: 0px;position: fixed;}
</style>
	<div id="header" ng-class="isIOS7 == 1 ? 'ios7' : '';" ng-include="src='pages/auditor/breadcrumbs.html'" ></div>
	<div class="title">
		<h1>Photos</h1>
	</div>
	<hr />
	
	<div class="pad-rl40 photo-container" >
		<h3 class="text-red">General Jobsite ({{totaljobSitePhotos}})</h3>
		<div class="photo-thumb">
			<div class="row">
                <div class="medium-3 columns" ng-repeat="photos in jobsitePhotos">
                    <div class="item">
			<img src="file://{{photos}}" ng-click="enLargeImage(photos)" />
			<div class="icons">
                        <a href="javascript:void(0);" ng-click="enLargeImage(photos);"  title="Expand Image"><i class="fa fa-expand"></i></a>
                        <a href="javascript:void(0);" ng-click="deletePhoto(photos,'','','','');"  title="Delete Image"><i class="fa fa-trash-o"></i></a>
                    </div>
                    </div>
				</div>
			</div>
		</div>
			
		<hr />
		<h3 class="text-red m-b0 m-t40">Deficiencies ({{totalDeficiencyPhotos}})</h3>
		<div ng-repeat="deficiencyPhoto in deficiencyPhotos">
			<h4 class="m-t0">Reference {{deficiencyPhoto.refNum}}  |  {{deficiencyPhoto.employee}}</h4>
			<div class="photo-thumb">
				<div class="row">
					<div class="medium-3 columns" ng-repeat="photo in deficiencyPhoto.photos">
						<div class="item">
                        <img src="file://{{photo.src}}" ng-click="enLargeImage(photo.src)" />
                        <div class="icons">
                            <a href="javascript:void(0);" ng-click="enLargeImage(photo.src);"  title="Expand Image"><i class="fa fa-expand"></i></a>
                            <a href="javascript:void(0);" ng-click="deletePhoto(photo.src,deficiencyPhoto.questionID, deficiencyPhoto.deficiencyID, deficiencyPhoto.subCategoryID, deficiencyPhoto.mainCategoryID);"  title="Delete Image"><i class="fa fa-trash-o"></i></a>
                        </div>
                        </div>
					</div>
					<div class="medium-3 columns">&nbsp;</div>	
				</div>
			</div>
			
			<hr />
		</div>
	</div>
<button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal" id="triggerImage" data-template="largeImage.html" style="width: 0px;height: 0px;padding: 0px;opacity: 0;"></button>
<script type="text/ng-template" id="largeImage.html">
     <div class="photo-thumb popup" style="padding:7px;width:96%;left:2%;background:#2222;">
       <div class="item" >
           <img src="{{LargeImage}}" style="max-height:60%;"/>
           <div class="icons" style="float;right;">
               <a href="javascript:void(0);" ng-click="$hide();"  title="Expand Image"><i class="fa fa-expand"></i></a>
               <a href="javascript:void(0);" ng-click="$hide();"  title="Close"><i class="fa fa-times-o"></i></a>
           </div>
       </div>		
</script>
	<footer id="footer">
		<div class="row">
			<div class="medium-2 columns">
				<a href="{{back_page}}" class="button medium gray">Back</a>
			</div>
			<div class="medium-7 columns">&nbsp;</div>
			<div class="medium-3 columns">
				<!--<a href="#" class="button medium">Next</a>-->
			</div>
		</div>	
	</footer>