<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.gonpl.mediavaultqas" version="1.0.0" >
    <name>App Name</name>

    <description>
        App Description
    </description>

    <author email="FSADevSupport@gonpl.com" href="http://gonpl.com">
        NPL Field Automation Team
    </author>

    <access origin="*" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="orientation" value="landscape" />
    
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="com.phonegap.plugins.barcodescanner" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" />
    
    <gap:splash src="screen-iphone-portrait.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="screen-ipad-landscape.png" gap:platform="ios" width="1024" height="768" />
    
    <icon src="qa-icon.png" />
</widget>