<div id="gallerychoice" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Gallery Choice </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                        <button type="button" class="btn btn-primary button-width" data-dismiss="modal" ng-click="gallery('photo')"><i class="fa fa-camera"></i> Photo</button>
                    </div>
                    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                        <button type="button" class="btn btn-primary button-width" data-dismiss="modal" ng-click="gallery('video')"><i class="fa fa-video-camera"></i> Video</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>