<loading ng-if="loading" label="'Loading...'"></loading>
<header></header>
<navigation></navigation>
<div class="wrapper">
    <!-- Start Wrapper -->
    <div class="table-row">
        <!-- Start Table Row -->
        <!-- Content -->
        <div class="container">
            <div ng-controller="MainCtrl">
			<div ng-include="'views/modelExample.html'"></div>
                <tabset id="tabs">
                    <tab heading="Upload" id="1">
                        <upload></upload>
                    </tab>
                    <tab heading="Search">
                        <search></search>
                    </tab>
                    <tab heading="Queue">
                        <queue></queue>
                    </tab>
                </tabset>

            </div>


        </div>
    </div>
</div>

<!-- End Table Row -->
</div>
<!-- End Wrapper -->
<footer></footer>