<div id="queue" ng-controller="queueCtrl">

    <p class="queue-heading align-top">File has been added to background uploaded queue</p>
    <h3>file to be uploaded</h3>
    <hr class="horizontal-line"/>
    <div class="row align-bottom">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-top">
            <i class="fa fa-folder-open-o fa-5x"></i>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-4 col-xs-4 align-top">
            Date:12/06/2015
            <div class="progress">
                <div class="progress-bar queue-progress-width" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100">
                    <span>70% Complete</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-4 col-xs-4 align-top">
		<i class="fa fa-trash-o fa-5x"></i>
        </div>
    </div>
    <div class="row align-bottom">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-top">
            <i class="fa fa-folder-open-o fa-5x"></i>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-top">
            Date:12/06/2015
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-top">
            <i class="fa fa-trash-o fa-5x"></i>
        </div>
     </div>
    <P>Recently uploaded (last 20)</p>
    <hr class="horizontal-line"/>
    <div class="row align-bottom">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 align-top">
            <i class="fa fa-folder-open-o fa-5x"></i>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 align-top">
            Date:12/06/2015
            Uploaded Completed
        </div>
    </div>
</div>