<div id="search" ng-controller='searchCtrl'>

    <p>Set as many items below as you can to help Searching</p>
    <hr class="horizontal-line"/>
    <div id="search-pages" ng-show="searchpage" class="rows">
        <form role="form">
            <div class="form-group col-lg-4">
                <label for="vault-id">Vault id</label>
                <input type="text" class="form-control" id="vault-id"/>
            </div>

            <div class="clear"></div>

            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label for="areas">Area</label>
                    <select class="form-control" ng-model="searchAreaSelect" id="areas" ng-change="searchjobsFilter()"
                            ng-options="areaCode for areaCode in areaCode">
                        <option value="" selected="selected"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="jobs-list">Job:</label>
                    <select class="form-control" id="jobs-list" ng-model="searchJob" ng-change="searchphaseFilter()">
                        <option>Software Engineer</option>
                        <option>Tester</option>
                        <option>Admin</option>
                        <option>Database developer</option>
                        <option>Designer</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="phases">Phase</label>
                    <select class="form-control" ng-model="searchPhase" id="phases"
                            ng-options="phase.0 as phase.0 for phase in  phasesSearch">
                        <option value="" selected="selected"></option>
                    </select>
                </div>


            </div>

            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label for="work-date">WorkDate</label>
                    <div class="input-group">
                        <input type="text" id="work-date" class="form-control"
                               datepicker-popup="{{format}}" ng-model="dt" is-open="opened"
                               min-date="minDate" max-date="'2015-06-22'"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               ng-required="true" close-text="Close"/>
                        <p class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ext-dpr-num">Ext Dpr #</label>
                    <input type="text" class="form-control" id="ext-dpr-num"/>
                </div>

            </div>


            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label for="street-name">Street</label>
                    <input type="text" class="form-control" id="street-name"/>
                </div>
                <div class="form-group">
                    <label for="zip-code">Zip code </label>
                    <input type="text" class="form-control" id="zip-code"/>
                </div>
                <div class="form-group">
                    <label for="cities">City</label>
                    <select class="form-control" id="cities">
                        <option>hyderabad</option>
                        <option>Karimnagar</option>
                        <option>Adilabad</option>
                        <option>Rangareddy</option>
                    </select>
                </div>

            </div>

            <div class="col-lg-12 col-md-12">
                <div class="form-group ">
                    <label for="ext-notes">Notes</label>
                    <textarea class="form-control" rows="3" id="ext-notes"></textarea>
                </div>

            </div>

            <div class="col-lg-2 col-md-2">
                <button type="button" class="btn btn-primary select-text" data-toggle="modal" data-target="#myModal" >Select KeyWord</button>
            </div>

            <div class="col-lg-10 col-md-10 nopadding">
                <div class="form-group">
                    <textarea class="form-control" rows="3" ng-model="keywordsUpload"></textarea>{{keywordsUpload}}
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left mt-25">
                <button type="button" class="btn btn-success button-width"><i class="fa fa-times"></i> clear</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right mt-25">
                <button type="button" class="btn btn-success button-width" ng-click="searchbutton()"><i class="fa fa-search"> </i> Search </button>
            </div>
        </form>
    </div>        
</div>

<!-- page one end here -->   
<div id="search-results" ng-show="searchpageresults" class="rows">

    <div class="icon-strip row">   
        <div class="col-lg-2 col-md-2">
            <button type="button" ng-click="searchback()" class="btn btn-icon green">
                <i class="fa fa-arrow-left"></i>
            </button>

        </div>    
        <div class="col-lg-8 col-md-8 mt-15"> <p class="search-heading">Maximum of 100 reached narrow your search </p> </div>   
    </div>             
    <div class="clearfix"></div>


    <div id="individual-row" ng-click="elementclick()">


        <ul class="search-result-list">
            <li class="row">
                <div class="col-lg-3 col-md-3 col-xs-3"><img src="images/thumbnail.gif" class="thumbnail"/></div>
                <div class="col-lg-9 col-md-9 col-xs-9"><p>Date: 6/5/2015 </p> 
                    <p>Size: <strong>178MB</strong></p>
                    <p>Submitted<span> John Doe</span></p>
                </div>
            </li>

            <li class="row">
                <div class="col-lg-3 col-md-3 col-xs-3"><img src="images/thumbnail.gif" class="thumbnail"/></div>
                <div class="col-lg-9 col-md-9 col-xs-9"><p>Date: 6/5/2015 </p> 
                    <p>Size: <strong>178MB</strong></p>
                    <p>Submitted<span> Thom Smith</span></p>
                </div>
            </li>

            <li class="row">
                <div class="col-lg-3 col-md-3 col-xs-3"><img src="images/thumbnail.gif" class="thumbnail"/></div>
                <div class="col-lg-9 col-md-9 col-xs-9"><p>Date: 6/5/2015 </p> 
                    <p>Size: <strong>178MB</strong></p>
                    <p>Submitted<span> Nelson</span></p>
                </div>
            </li>

            <li class="row">
                <div class="col-lg-3 col-md-3 col-xs-3"><img src="images/thumbnail.gif" class="thumbnail"/></div>
                <div class="col-lg-9 col-md-9 col-xs-9"><p>Date: 6/5/2015 </p> 
                    <p>Size: <strong>178MB</strong></p>
                    <p>Submitted<span> John Doe</span></p>
                </div>
            </li>

            <li class="row">
                <div class="col-lg-3 col-md-3 col-xs-3"><img src="images/thumbnail.gif" class="thumbnail"/></div>
                <div class="col-lg-9 col-md-9 col-xs-9"><p>Date: 6/5/2015 </p> 
                    <p>Size: <strong>178MB</strong></p>
                    <p>Submitted<span> John Doe</span></p>
                </div>
            </li>

        </ul>

        <div class="col-lg-12 load-more text-center"><img src="images/preload.gif"/></div>					

    </div>
</div>

<!-- end of page two -->

<div id="search-details" ng-show="searchdetails" class="rows">
    <div class="icon-strip row">
        <div class="col-lg-3 col-md-3">
            <button type="button" class="btn btn-icon green" ng-click="searchback2()">
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>

        <div class="col-lg-9 col-md-9">
            <button type="button" class="btn btn-icon" >
                <i class="fa fa-envelope"></i>
            </button>


            <button type="button" class="btn btn-icon" data-toggle="modal" data-target="#my-remove"> 
                <i class="fa fa-download"></i>
            </button>

            <button type="button" class="btn btn-icon" ng-click="email_dialog()" data-target="#my-remove">
                <i class="fa fa-trash"></i></button>
        </div>
    </div>


    <!--sub panel-->
    <button ng-click="searchImage()" class="btn btn-primary" type="button">image</button>
    <button ng-click="searchDetails()" class="btn btn-primary" type="button">Details</button>
    <div class="row" id="imag" ng-show="searchmediaimg">						
        <div class="col-sm-6 col-lg-6 mt-25">
            <img src="images/photos.png"/>
        </div>
    </div>
    <!--Form-->
    <div id="detform" ng-show="searchmediadtl" class="rows align-left align-top">               
        <form role="form">
            <div class="form-group">
                <label for="search-details-area">Area</label>
                <select class="form-control" id="search-details-job" ng-model="searchJob" ng-change="searchphaseFilter()"  ng-options="jobs.0 as jobs.1 for jobs in jobsearch">
                    <option value="" selected="selected"></option>
                </select>
            </div>
            <div class="clear"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="search-details-phase">Phase</label>
                        <select class="form-control" id="search-details-phase">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="search-details-date">WorkDate</label>

                        <div class="input-group">
                            <input id="work-dates" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="model.secondCal"
                                   min-date="minDate" name="secondCal"  datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                            <p class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'secondCal')"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row align-bottom">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="search-details-job">Job:</label>
                        <select class="form-control" id="search-details-job">
                            <option>Software Engineer</option>
                            <option>Tester</option>
                            <option>Admin</option>
                            <option>Database developer</option>
                            <option>Designer</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="dpr-second">Ext Dpr #</label>
                        <input type="text" class="form-control" id="dpr-second"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="search-details-street">Street</label>
                <input type="text" class="form-control" id="search-details-street"/>
            </div>
            <div class="clear"></div>
            <div class="row align-bottom">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="search-details-zip">Zipcode </label>
                        <input type="text" class="form-control" id="search-details-zip"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="search-details-city">City</label>
                        <select class="form-control" id="search-details-city">
                            <option>hyderabad</option>
                            <option>Karimnagar</option>
                            <option>Adilabad</option>
                            <option>Rangareddy</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="form-group ">
                <label for="search-details-notes">Notes</label>
                <textarea class="form-control" rows="3" id="search-details-notes"></textarea>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <button type="button" class="btn btn-primary select-text" ng-click="searchdetailsKeyword()">Select KeyWord</button>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="row align-bottom align-top">
                <div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button type="button" ng-click="" class="btn btn-primary button-width">Cancel</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button type="button" class="btn btn-primary button-width"><i
                                class="fa fa-floppy-o"></i>Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>	   
<!--End of id ="Search" the pages -->
</div>

