	<header id="header">
		<i class="fa fa-bars" data-template="menu.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside"></i>
	</header>

	<script type="text/ng-template" id="menu.html">
		<div class="aside" tabindex="-1" role="dialog">
		   <h1>Menu</h1>
		<div class="aside-header">
		   <ul>
			<li><a href="#/">Home</a></li>
			<li><a href="#logout">Logout</a></li>
		   </ul>
		   <a href="javascript:void(0);" class="button" ng-click="$hide();">close</a>
		</div>
		</div>
	</script>
	<br>
	<div class="msg alert" ng-if="global_process != ''"><i class="fa fa-spinner fa-spin"></i>{{global_process}}</div>
	<div class="msg alert" ng-click="hideMessage('global_error');" ng-if="global_error != ''"><i class="fa fa-warning"></i>{{global_error}}</div>
	<div class="msg success hideMe" ng-click="hideMessage('global_success');" ng-if="global_success != ''"><i class="fa fa-check-square-o"></i>{{global_success}}</div>
	
	