	<div id="header" ng-class="isIOS7 == 1 ? 'ios7' : '';" ng-include="src='pages/auditor/breadcrumbs.html'" ></div>
	<div class="title">
		<h1>Job / Phase</h1>
	</div>
	<hr />
	
	<form id="auditForm" name="auditForm" method="POST" action="" rc-submit="create_audit(audit_data)"  novalidate >
	<div class="pad-rl40">
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="h-16x text-red" ng-if="Lat != NAN && Lat != ''" >Lat / Long ({{Lat | lat}} , {{Long | lon}})</h3>
				<h3 class="h-16x text-red" ng-if="Lat == '' " >Geolocation not found</h3>
			</div>	
		</div>		
		<div class="row">
			<div class="medium-2 columns "><label>Audit Date</label></div>
			<div class="medium-4 columns audit-date">
				<input type="text" name="audit_date" id="audit_date" class="form-control" ng-model="audit_data.audit_date" placeholder="Audit Date" data-date-format="MM/dd/yyyy" bs-datepicker autoclose="true" data-max-date="today">
			</div>
			<div class="medium-6 columns ">
				<div class="medium-2 columns audit-label"><label>Audit Type</label></div>
				<div class="medium-3 columns audit-dropdown" ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.audit_type)}">
					<select name="audit_type" id="audit_type" ng-init="audit_data.audit_type='GAS'" required  ng-model="audit_data.audit_type" class="style" ng-change="onTypeUpdate();">
						<option value="" >Select</option>
						<option value="CONCR/ASPHALT">Concrete / Asphalt</option>
						<option value="ELECTRIC" >Electric</option>
						<option value="GAS" >Gas</option>
						<option value="TRAFFIC" >Traffic</option>
					</select>
				</div>
				<div class="medium-3 columns">
					<div class="checkbox audit-postjob">
						<input id="post_audit" name="post_audit" ng-model="audit_data.post_audit" type="checkbox" /><label for="post_audit">Post Job Audit</label>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="medium-2 columns"><label>Type of Work</label></div>
			<div class="medium-3 columns medium-dropdown">
				<select name="audit_type" id="audit_type" class="style">
					<option value="" >Select</option>
					<option value="work1">work1</option>
					<option value="work2">work2</option>
					<option value="work3">work3</option>
					
				</select>
			</div>
			<div class="medium-2 columns pipe-size-label"><label>Type of Pipe & Size </label></div>
			<div class="medium-3 columns medium-dropdown">
				<select name="audit_type" id="audit_type" class="style">
					<option value="" >Select</option>
					<option value="pipe/size1">pipe/size1</option>
					<option value="pipe/size2">pipe/size2</option>
					<option value="pipe/size3">pipe/size3</option>
					
					
				</select>
			</div>
			<div class="medium-4 columns">&nbsp;</div>		
		</div>
		<div class="row">
			<div class="medium-2 columns"><label>Area</label></div>
			<div class="medium-10 columns" ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.area_master)}" />
				<!--<select name = "area_master" ng-model="audit_data.area_master" ng-options="master.name for master in areaMaster track by master.id" required>-->
				<select class="style" name = "area_master"  ng-change="onAreaUpdate()"  ng-model="audit_data.area_master" ng-options="master.AreaNum as master.AreaNum for master in areaMaster" required>
					<option value="">Area</option>
				</select>
				
			</div>
			<div class="medium-4 columns">&nbsp;</div>		
		</div>	
		<div class="row">
			<div class="medium-2 columns"><label>Phase Number</label></div>
			<div class="medium-10 columns" ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.phase_number)}">
				<!--ng-change="updatejobNumber();"-->
				<input type="text" name="phase_number" ng-blur="updatejobNumber();" id="phase_number" class="form-control" ng-model="audit_data.phase_number" ng-options="phase_number for phase_number in phase_numbers" placeholder="Enter Phase Number" bs-typeahead autocomplete="off"  maxlength="12" ng-disabled="audit_data.area_master == ''" pattern="\d*" data-limit="11" required>
			</div>
			<div class="medium-4 columns">&nbsp;</div>		
		</div>
		<div class="row">
			<div class="medium-2 columns"><label>Job Number</label></div>
			<div class="medium-10 columns" ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.job_number)}">
				<!--<autocomplete name="job_number" id="job_number" ng-model="audit_data.job_number" data="job_number"  required></autocomplete>-->
				<input type="text" name="job_number" id="job_number" class="form-control" ng-blur="onUpdateJobnumber();" ng-model="audit_data.job_number" ng-options="job_number as job_number for job_number in job_numbers" placeholder="Enter job Number" bs-typeahead autocomplete="off" maxlength="12" ng-disabled="audit_data.phase_number == ''" pattern="\d*" data-limit="7" required>	
			</div>
			<div class="medium-4 columns">&nbsp;</div>		
		</div>
		
		<div class="row">
			<div class="medium-2 columns"><label>Safety Manager</label></div>
			<div class="medium-10 columns" ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.safetyManagers)}">
				<select class="style" name = "safetyManagers" id="safetyManagers"  ng-model="audit_data.safetyManagers" ng-options="employee.name for employee in safetyManagers track by employee.EmpNum" ng-disabled="audit_data.area_master == ''" required>
					<option value="">Select SafetyManager</option>
				</select>
			</div>
			<div class="medium-4 columns">&nbsp;</div>		
		</div>		
		<hr class="m-t0" />
		
		<div class="row">
			<div class="medium-3 columns">
				<label>Superintendent</label>
				<label>Foreman/Leadman</label>
			</div>
			<div class="medium-4 columns">
				<span ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.supervisor)}">
					<input type="text" name="supervisor" id="supervisor" class="form-control" ng-model="audit_data.supervisor" data-min-length="0" data-html="1" ng-options="supervisor as supervisor.label for supervisor in supervisors" placeholder="Superintendent" bs-typeahead="typeahead" required autocomplete="off" ng-disabled="audit_data.area_master == ''" readonly="readonly">
				</span>
				<span ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.foreman)}">
					<input type="text" name="foreman" id="foreman" class="form-control" ng-model="audit_data.foreman" data-min-length="0" data-html="1" ng-options="foreman as foreman.label for foreman in foremans" placeholder="Foreman/Leadman" bs-typeahead="typeahead" required autocomplete="off" ng-disabled="audit_data.area_master == ''" readonly="readonly">					
				</span>
				<label class="m-t0 m-b0 employees-selected">{{ assigned_employee.length + foremanData.length }} Employees</label>
			</div>
			<div class="medium-1 column"><span class="vline"></span></div>
			<div class="medium-4 columns">
				<input type="button" ng-click="triggerAside('open','triggerSuperAside');" class="button blue" value="Pick Superintendent" ng-disabled="audit_data.area_master == ''">
				<input type="button" ng-click="triggerAside('open','triggerForemanAside');" class="button blue" value="Pick Foreman/Leadman" ng-disabled="audit_data.area_master == ''">
				<input type="button" ng-click="triggerAside('open','triggerEmployeeAside');" class="button blue" value="{{employeeButtonText}}">
				<div class="hidden-buttons" style="height: 0px;">
					<button type="button" id="triggerEmployeeAside" style="width:0px;height:0;opacity:0;" class="button blue" data-template="select_employees.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" >Select Employee</button>
					<button type="button" id="triggerSuperAside" style="width:0px;height:0;opacity:0;" class="button blue" data-template="super.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" >Select Supervisor</button>
					<button type="button" id="triggerForemanAside" style="width:0px;height:0;opacity:0;" class="button blue" data-template="foreman.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" >Select Foreman/Leadman</button>
				</div>
			</div>		
		</div>	
		 
		<hr class="m-t0" />
		
		<div class="row">
			<div class="medium-2 columns"><label>One-call Ticket #</label></div>
			<div class="medium-10 columns" ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.one_call_ticket)}" >
				<input type="text" name="one_call_ticket" id="one_call_ticket" class="form-control" ng-model="audit_data.one_call_ticket" placeholder="One Call Ticket"  maxlength="25" >
			</div>
		</div>
		<div class="row">
			<div class="medium-2 columns"><label>Customer</label></div>
			<div class="medium-10 columns" ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.customer)}" >
				<input type="text" name="customer" id="customer" class="form-control" ng-model="audit_data.customer" data-min-length="0" data-html="1" ng-options="customer as customer.label for customer in customers" placeholder="Enter Customer" bs-typeahead="typeahead" required autocomplete="off" maxlength="12" ng-disabled="audit_data.area_master == ''">
			</div>
		</div>
		<div class="row" ng-if="final_audit_review=='false'">
			<div class="medium-2 columns"><label>Job Location</label></div>
			<div class="medium-10 columns" ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.job_location)}" >
				<input type="text" name="job_location" id="job_location" ng-model="audit_data.job_location"   placeholder = "Location (alphabetical)" maxlength="150" >
			</div>
		</div>
		
		<div class="row" ng-if="final_audit_review=='true'">
			<div class="medium-2 columns"><label>Job Location</label></div>
			 <div class="medium-10 columns" ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.job_location1)}" >
				<input type="text" name="job_location1" id="job_location1" ng-model="audit_data.job_location" required  placeholder = "Location (alphabetical)" maxlength="150" >
			</div>
		</div>
		
		<div class="row">
			<div class="medium-2 columns"><label>City</label></div>
			<div class="medium-3 columns" ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.city)}">
				<input type="text" name="city" id="city" ng-model="audit_data.city" placeholder = "City (alphabetical)" maxlength="25">
			</div>
			<div class="medium-7 columns">
				<div class="row">
					<div class="medium-2 columns"><label>State</label></div>
					<div class="medium-4 columns" ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.state)}">
						<select class="style" name="state" id="state" ng-init="audit_data.state=''" ng-model="audit_data.state"  ng-options="state.StateName for state in stateData track by state.StateId">
							<option value="" >Select</option>
						</select>
					</div>
					<div class="medium-2 columns"><label>Zip</label></div>
					<div class="medium-4 columns" ng-class="{'has-error': rc.auditForm.needsAttention(auditForm.zip)}">
						<input type="text" name="zip" id="zip" ng-model="audit_data.zip" placeholder = "Zip (numeric)" ng-options="zipCodeData.Zip as zipCodeData.Zip for zipCodeData in zipCodeData" bs-typeahead autocomplete="off" maxlength="5" pattern="\d*" ng-blur="checkZip();">
					</div>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="medium-2 columns"><label>Comments</label></div>
			<div class="medium-10 columns">
				<textarea rows="2" name="comments" id="comments" ng-model="audit_data.comments" maxlength="1000" ></textarea>
			</div>
		</div>	
		<hr class="m-t0" />
		
		<div class="row">
			<div class="medium-3 columns"><a href="javascript:void(0);" ng-click="viewPhotoPage()" class="button medium blue"><i class="fa fa-picture-o"></i> View Photos ({{totaljobSitePhotos}})</a></div>
			<div class="medium-3 columns"><a href="javascript:void(0);" ng-click="showPhotoOption()" class="button medium blue"><i class="fa fa-camera"></i> Add Photo</a></div>
			<div class="medium-6 columns">&nbsp;</div>
		</div>
	</div>
	<footer id="footer">
		<div class="row">
			<div class="medium-2 columns">
				<a ng-if="InProgressAuditID == 0 || InProgressAuditID == ''" href="javascript:void(0);" ng-click="backToHome();"  class="button medium gray">Cancel</a>
				<a ng-if="InProgressAuditID != 0 && InProgressAuditID != ''" href="javascript:void(0);" ng-click="backToHome();"  class="button medium gray">Back</a>
				
			</div>
			<div class="medium-7 columns">&nbsp;</div>
			<div class="medium-3 columns" >
				<input type="submit" name="submit_audit" id="submit_audit" value="next" class="button medium" />
			</div>
		
		</div>	
	</footer>
	
	<script type="text/ng-template" id="select_employees.html">
	<div style="z-index:999999;background: rgb(221, 221, 221); height:920px;" class="aside-container">
		<div class="title" style="background:#FFF;padding-bottom: 20px;">
			<h1>Select Employees</h1>
		</div>
		<hr style="margin-top:0px;" />
		<div class="pad-rl40">
			<h4 class="h-18x m-t0">Picked</h4>
			<div class="list-row input">
				<div class="title">
					<div class="row">
						<div class="medium-4 columns"><label>Employees</label></div>
						<div class="medium-4 columns"><label>Job Title</label></div>
						<div class="medium-2 columns"><label class="text-center">Remove</label></div>
					</div>
				</div>
				<ul class="picked">
					<li ng-repeat="employee in assigned_employee track by $index">
						
						<div class="row">
							<div class="medium-4 columns"><label>{{employee.name}} ({{employee.EmpNum}})</label></div>
							<div class="medium-4 columns">
								
								<select name="employee.selectedJobTitile" ng-model="employee.selectedJobTitile" ng-init="employee.selectedJobTitile = {JobTitleId : employee.JobTitleId}" ng-options="title.name for title in jobTitle track by title.JobTitleId" ng-change="modifyJobTitle();">
									<option value="">Job Title</option>
								</select>
							</div>
							<div class="medium-2 columns"><a href="javascript:void(0);" ng-click="move(employee, assigned_employee, available_employee,'remove')"><i class="fa fa-times"></i></a></div>
						</div>
					</li>
				</ul>
			</div>
			<!--Pagination div -->		
			<div class="row" >
				<div class="medium-1 columns"><h4 class="h-18x">Pick From</h4></div>
				<div class="medium-2 columns">
					<input type="text" class="form-control" placeholder="Search" style="padding: 5px;background: #FFF;border: 1px solid #AAA;" ng-model="searchText" name="searchText" id="searchText" ng-focus="scrollWindow();" ng-blur="scrollWindow();" ng-change="changePageSize()">
				</div>
				<div class="medium-1 columns pad-ll20"><label>Area</label></div>
				<div class="medium-2 columns">
							
					<!--<select ng-model="audit_data.area_master_employee" ng-options="master.name for master in areaMaster track by master.id">
						<option value="">Area</option>
					</select>-->
					<select name = "area_master"  ng-change="onEmployeeAreaUpdate()"  ng-model="audit_data.employee_area_master" ng-options="master.AreaNum as master.AreaNum for master in areaMaster" required>
						<!--<option value="">Area Master</option>-->
					</select>
				</div>
				
				<div ng-show="available_employee.length" class="medium-1 columns"><button type="button" class="button medium" ng-disabled="curPage == 0" ng-click="changePage('first')">FIRST</button></div>
				<div ng-show="available_employee.length" class="medium-1 columns"><button type="button" class="button medium" ng-disabled="curPage == 0" ng-click="changePage('prev')">PREV</button></div>
				<div ng-show="available_employee.length" class="medium-2 large-1 columns text-center"><span class="lh35">Page {{curPage + 1}} of {{ numberOfPages() }}</span></div>
				<div ng-show="available_employee.length" class="medium-1 columns"><button type="button"  class="button medium"	 ng-disabled="curPage >= available_employee.length/pageSize - 1" ng-click="changePage('next')">NEXT </button></div>
				<div ng-show="available_employee.length" class="medium-1 columns"><button type="button"  class="button medium"	 ng-disabled="curPage >= available_employee.length/pageSize - 1" ng-click="changePage('last')">LAST </button></div>
			</div>
			<!--End Pagination div -->
			<div class="list-row input">
				<div class="title">
					<div class="row">
						<div class="medium-4 columns"><label>Employees</label></div>
						<div class="medium-4 columns"><label>Job Title</label></div>
						<div class="medium-2 columns"><label class="text-center">Add</label></div>
					</div>
				</div>
				<ul class="pickfrom">
					<li ng-repeat="employee in available_employee  |  pagination: curPage * pageSize | limitTo:pageSize" >						
						<div class="row">
							<div class="medium-4 columns"><label>{{employee.name}} ({{employee.EmpNum}})</label></div>
							<div class="medium-4 columns">
								<!--<span>{{ employee.jobTitle}}</span>-->
								<select name="employee.selectedJobTitile" ng-model="employee.selectedJobTitile" ng-init="employee.selectedJobTitile = {JobTitleId : employee.JobTitleId}" ng-options="title.name for title in jobTitle track by title.JobTitleId" ng-change="modifyJobTitle();">
									<option value="">Job Title</option>
								</select>
							</div>
							<div class="medium-2 columns"><a href="javascript:void(0);" ng-click="move(employee, available_employee, assigned_employee, 'add')"><i class="fa fa-plus"></i></a></div>
						</div>
					</li>
				</ul>
			</div>
			
		</div>
		<footer>
			<div class="row">
				<div class="medium-2 columns">
					<!--<input type="button" value="Back" ng-click="triggerAside('back','triggerEmployeeAside');" class="button medium gray">-->
				</div>
				<div class="medium-7 columns">&nbsp;</div>
				<div class="medium-3 columns">
					<input type="button" name="submit_audit" id="submit_audit" value="Done" ng-click="triggerAside('back','triggerEmployeeAside');" class="button medium">
				</div>
			</div>	
		</footer>
	</div>	
	</script>
	
	<script type="text/ng-template" id="super.html">
	<div style="z-index:999999;background: rgb(221, 221, 221); height:920px;" class="aside-container">
		<div class="title" style="background:#FFF;padding-bottom: 20px;">
			<h1>Select Superintendent</h1>
		</div>
		<hr style="margin-top:0px;" />
		<div class="pad-rl40">
			<div class="row">
				<div class="medium-1 columns"><h4 class="h-18x">Pick From</h4></div>
				<div class="medium-6 columns">
					<input type="text" class="form-control" placeholder="Search" style="padding: 5px;background: #FFF;border: 1px solid #AAA;" ng-model="searchText" name="searchText" id="searchText" ng-focus="scrollWindow();" ng-blur="scrollWindow();" ng-change="filterSupervisor()">
				</div>
				<div class="medium-1 columns"><label>Area</label></div>
				<div class="medium-4 columns">
					<!--<select ng-model="audit_data.area_master_employee" ng-options="master.name for master in areaMaster track by master.id">
						<option value="">Area</option>
					</select>-->
					<select name = "area_master"  ng-change="onSupervisorAreaUpdate()"  ng-model="audit_data.supervisor_area_master" ng-options="master.AreaNum as master.AreaNum for master in areaMaster" required>
						<!--<option value="">Area Master</option>-->
					</select>
				</div>
			</div>
			<div class="list-row input">
				<div class="title">
					<div class="row">
						<div class="medium-4 columns"><label>Superintendent</label></div>
						<div class="medium-2 columns"><label class="text-center">Add</label></div>
					</div>
				</div>
				<ul style="height:500px;">
					<li ng-repeat="supervisor in supervisors">					
						<div class="row">
							<div class="medium-9 columns"><label>{{supervisor.label}} ({{supervisor.value}})</label></div>
							<div class="medium-2 columns"><a href="javascript:void(0);" ng-click="SelectSupervisor()"><i class="fa fa-plus"></i></a></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<footer>
			<div class="row">
				<div class="medium-2 columns">
                &nbsp;
				</div>
				<div class="medium-7 columns">&nbsp;</div>
				<div class="medium-3 columns">
					<input type="button" name="submit_audit" id="submit_audit" value="Done" ng-click="triggerAside('back','triggerSuperAside');" class="button medium">
				</div>
			</div>	
		</footer>
	</div>	
	</script>
	
	<script type="text/ng-template" id="foreman.html">
	<div style="z-index:999999;background: rgb(221, 221, 221); height:920px;" class="aside-container">
		<div class="title" style="background:#FFF;padding-bottom: 20px;">
			<h1>Select Foreman/Leadman</h1>
		</div>
		<hr style="margin-top:0px;" />
		<div class="pad-rl40">
			<div class="row">
				<div class="medium-1 columns"><h4 class="h-18x">Pick From</h4></div>
				<div class="medium-6 columns">
					<input type="text" class="form-control" placeholder="Search" style="padding: 5px;background: #FFF;border: 1px solid #AAA;" ng-model="searchText" name="searchText" id="searchText" ng-focus="scrollWindow();" ng-blur="scrollWindow();" ng-change="filterForeman()">
				</div>
				<div class="medium-1 columns"><label>Area</label></div>
				<div class="medium-4 columns">
					<!--<select ng-model="audit_data.area_master_employee" ng-options="master.name for master in areaMaster track by master.id">
						<option value="">Area</option>
					</select>-->
					<select name = "area_master"  ng-change="onForemanAreaUpdate()"  ng-model="audit_data.foreman_area_master" ng-options="master.AreaNum as master.AreaNum for master in areaMaster" required>
						<!--<option value="">Area Master</option>-->
					</select>
				</div>
			</div>
			<div class="list-row input">
				<div class="title">
					<div class="row">
						<div class="medium-4 columns"><label>Foreman/Leadman</label></div>
						<div class="medium-2 columns"><label class="text-center">Add</label></div>
					</div>
				</div>
				<ul style="height:500px;">
					<li ng-repeat="foremanObj in foremans | orderBy: '-label': true">					
						<div class="row">
							<div class="medium-9 columns"><label>{{foremanObj.label}} ({{foremanObj.value}})</label></div>
							<div class="medium-2 columns"><a href="javascript:void(0);" ng-click="SelectForeman();"><i class="fa fa-plus"></i></a></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<footer>
			<div class="row">
				<div class="medium-2 columns">
                &nbsp;
				</div>
				<div class="medium-7 columns">&nbsp;</div>
				<div class="medium-3 columns">
					<input type="button" name="submit_audit" id="submit_audit" value="Done" ng-click="triggerAside('back','triggerForemanAside');" class="button medium">
				</div>
			</div>	
		</footer>
	</div>	
	</script>
	</form>

<!--<div class="msg success hideMe" ng-show="takePhoto != ''">
    <input type="button" class="button" ng-click="takeJobSitePhoto(1);" value="Library" />
    <input type="button" class="button" ng-click="takeJobSitePhoto(0);" value="Capture">
</div>-->

<div class="popup hideMe" ng-show="takePhoto != ''">
	<h3>Select an action</h3>
<hr />
    <input type="button" class="button blue medium" ng-click="takeJobSitePhoto(1);" value="Library" />
    <input type="button" class="button blue medium" ng-click="takeJobSitePhoto(0);" value="Capture">
<hr />
<div class="text-right"><button class="medium red inline" ng-click="hideTakePhoto()">Close</button></div>
</div>
<div class="overlay" ng-show="takePhoto != ''"></div>