@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.flash {
  animation-name: flash;
  -webkit-animation-name: flash;
}

.animated {
  animation: fadein 1s;
  -webkit-animation: faidein 1s;
}